/PrimeiroPrograma/nbproject/private/
/PrimeiroPrograma/build/
/NetBeansProjects/OlaMundoSwing/build/
/NetBeansProjects/OlaMundoSwing/nbproject/private/
/NetBeansProjects/Olá Mundo/build/
/NetBeansProjects/Olá Mundo/nbproject/private/
/NetBeansProjects/Ola mundo swing/Ola mundo swing/nbproject/private/
/NetBeansProjects/Ola mundo swing/Ola mundo swing/build/
/NetBeansProjects/PrimeiroProgramaSwing/nbproject/private/
/NetBeansProjects/PrimeiroProgramaSwing/build/
/NetBeansProjects/OperadoresSwing/nbproject/private/
/NetBeansProjects/OperadoresSwing/build/
/NetBeansProjects/SuperCalculadora/nbproject/private/
/NetBeansProjects/SuperCalculadora/build/
/NetBeansProjects/OperadoresAritmeticos/build/
/NetBeansProjects/SuperCalculadora1/nbproject/private/
/NetBeansProjects/SuperCalculadora1/build/
/NetBeansProjects/OperadorTernario/nbproject/private/
/NetBeansProjects/OperadorTernario/build/
/NetBeansProjects/ComparacaoString/nbproject/private/
/NetBeansProjects/ComparacaoString/build/
/NetBeansProjects/OperadoresLogicos/nbproject/private/
/NetBeansProjects/OperadoresLogicos/build/
/NetBeansProjects/VerificadorIdadeSwing/nbproject/private/
/NetBeansProjects/VerificadorIdadeSwing/build/
/NetBeansProjects/OperadoresAritmeticos/nbproject/private/
/NetBeansProjects/teste/nbproject/private/
/NetBeansProjects/teste/build/
/NetBeansProjects/LeitorDePensamento/nbproject/private/
/NetBeansProjects/LeitorDePensamento/build/
/NetBeansProjects/JavaApplication23/nbproject/private/
/NetBeansProjects/JavaApplication23/build/
/NetBeansProjects/EstruturaCondicional/nbproject/private/
/NetBeansProjects/EstruturaCondicional/build/
/NetBeansProjects/EquacaoSegundoGrau/nbproject/private/
/NetBeansProjects/EquacaoSegundoGrau/build/
/NetBeansProjects/Aula14EHP/build/
/NetBeansProjects/Aula14EHP/nbproject/private/
/NetBeansProjects/ProjetoYoutube/build/
/NetBeansProjects/ProjetoYoutube/nbproject/private/
/ProjetoYoutube/nbproject/private/
/ProjetoYoutube1/nbproject/private/
/ProjetoYoutube1/build/
/NetBeansProjects/LEARN JAVA/ProjetoYoutube1/build/
/NetBeansProjects/LEARN JAVA/ProjetoYoutube1/nbproject/private/
/NetBeansProjects/Nova pasta/ComparacaoString/nbproject/private/
/NetBeansProjects/Nova pasta/OperadoresLogicos/build/
/NetBeansProjects/Nova pasta/OperadoresLogicos/nbproject/private/
/NetBeansProjects/Aula06Interface/build/
/NetBeansProjects/CalcIdadeJframe/build/
/NetBeansProjects/CursoEmVideo/ExercicioVetor1/build/
/NetBeansProjects/CursoEmVideo/Funcao01/build/
/NetBeansProjects/CursoEmVideo/Funcao02/build/
/NetBeansProjects/CursoEmVideo/OperadoresSwing/build/
/NetBeansProjects/CursoEmVideo/Poo_Get_set_cont/build/
/NetBeansProjects/CursoEmVideo/ProjetoYoutube1/build/
/NetBeansProjects/CursoEmVideo/VerificadorIdadeSwing/build/
/NetBeansProjects/CursoEmVideo/Vetor03/build/
/NetBeansProjects/Sangiorgio/JavaVenda/target/
