/PrimeiroPrograma/nbproject/private/
/PrimeiroPrograma/build/
/NetBeansProjects/OlaMundoSwing/build/
/NetBeansProjects/OlaMundoSwing/nbproject/private/
/NetBeansProjects/Olá Mundo/build/
/NetBeansProjects/Olá Mundo/nbproject/private/
/NetBeansProjects/Ola mundo swing/Ola mundo swing/nbproject/private/
/NetBeansProjects/Ola mundo swing/Ola mundo swing/build/
/NetBeansProjects/PrimeiroProgramaSwing/nbproject/private/
/NetBeansProjects/PrimeiroProgramaSwing/build/
/NetBeansProjects/OperadoresSwing/nbproject/private/
/NetBeansProjects/OperadoresSwing/build/
/NetBeansProjects/SuperCalculadora/nbproject/private/
/NetBeansProjects/SuperCalculadora/build/
/NetBeansProjects/OperadoresAritmeticos/build/
/NetBeansProjects/SuperCalculadora1/nbproject/private/
/NetBeansProjects/SuperCalculadora1/build/
/NetBeansProjects/OperadorTernario/nbproject/private/
/NetBeansProjects/OperadorTernario/build/
/NetBeansProjects/ComparacaoString/nbproject/private/
/NetBeansProjects/ComparacaoString/build/
/NetBeansProjects/OperadoresLogicos/nbproject/private/
/NetBeansProjects/OperadoresLogicos/build/
/NetBeansProjects/VerificadorIdadeSwing/nbproject/private/
/NetBeansProjects/VerificadorIdadeSwing/build/
/NetBeansProjects/OperadoresAritmeticos/nbproject/private/
/NetBeansProjects/teste/nbproject/private/
/NetBeansProjects/teste/build/
/NetBeansProjects/LeitorDePensamento/nbproject/private/
/NetBeansProjects/LeitorDePensamento/build/
/NetBeansProjects/JavaApplication23/nbproject/private/
/NetBeansProjects/JavaApplication23/build/
/NetBeansProjects/EstruturaCondicional/nbproject/private/
/NetBeansProjects/EstruturaCondicional/build/
/NetBeansProjects/EquacaoSegundoGrau/nbproject/private/
/NetBeansProjects/EquacaoSegundoGrau/build/
