/OlaMundoJavaFx/nbproject/private/
/OlaMundoJavaFX/nbproject/private/
/OlaMundoJavaFX/build/
/OlaMundoJavaFX/dist/
/TiposPrimitivos/nbproject/private/
/TiposPrimitivos/build/
/SomaFX/nbproject/private/
/SomaSwing/nbproject/private/
/SomaSwing/build/
/SomaSing/nbproject/private/
/SomaSing/build/
/CalculadoraIdade/nbproject/private/
/CalculadoraIdade/build/
/testDate/nbproject/private/
/ OperadoresAritmeticos/nbproject/private/
/ OperadoresAritmeticos/build/
NetBeansProjects/teste/src/teste/Teste.java
NetBeansProjects/teste/nbproject/project.xml
NetBeansProjects/teste/nbproject/project.properties
NetBeansProjects/teste/nbproject/genfiles.properties
NetBeansProjects/teste/nbproject/build-impl.xml
NetBeansProjects/teste/manifest.mf
NetBeansProjects/teste/lib/nblibraries.properties
NetBeansProjects/teste/lib/CopyLibs/org-netbeans-modules-java-j2seproject-copylibstask.jar
NetBeansProjects/teste/build.xml
